.App {
  text-align: center;
  margin-top: 100px;
}

h1{
  color: #001f3f;
  font-size: 2rem;
  letter-spacing: 5px;
  text-align:center;
}

.carousel-custom-container {
  position: absolute;
  left: 0px;
  width: 50%;
}

.carousel-bootstrap-container {
  position: absolute;
  right: 0px;
  width: 50%;
}

@media(max-width: 1200px){
  .App{
    margin: 0px;
  }

  .carousel-custom-container,
  .carousel-bootstrap-container{
    width: 100%;
  }

  .carousel-custom-container{
    position: relative;
  }
}

